.apiHighlight {
	color: #1300a2 !important;
    font-size: 14px !important;
}

table#TOSTable {
	font-size: 15px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table#TOSTable th, td {
	border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

table#TOSTable tr:nth-child(even){background-color: #f2f2f2}

table#TOSTable th {
    background-color: #013c84;
    color: white;
}

.coverImg {
    height:50px;
    background-image: url("../images/tospattern.png");
    background-repeat: repeat;
    border-radius: 20px;
}

.coverImg .text{
    color: #f9f9f9;
    font-family: cursive;
    font-size: 36px;
    text-align: center;
    padding-top: 20px;
}

body {
    color: #585757 !important;
}